{% load static %}
{% block body %}
{% include 'recruiter_navigation.html' %}
<script>
    function checkpass()
    {
        if(document.changepassword.newpassword.value!=document.changepassword.confirmpassword.value)
        {
        alert('New password and confirm password field does not match');
       document.changepassword.confirmpassword.focus();
       return false;
        }
        return true;
        }
</script>




<p STYLE="text-align:center;font-size:25px;color:blue; background-color:black;margin-top:1%;font-weight:10">VIEW RECRUITER - PENDING</p><hr>
<form class="container mt-5" method="post" name="changepassword" onsubmit="return checkpass()">
    {% csrf_token %}
    <label><b>Current password</b></label>
    <input type="password" class="form-control" name="currentpassword" required="True">
    <br>
    <label><b>New password</b></label>
     <input type="password" class="form-control" name="newpassword" required="True">

    <label><b>Confirm password</b></label>
     <input type="password" class="form-control" name="confirmpassword" required="True">
     <input type="submit"  class="btn btn-primary" style="margin-top:2%;color:darkcyan;background-color:black; font-weight:bold">
    </form>
<!--{% include 'footer.html' %}-->

{% ifequal error "no" %}
<script>
    alert("Your Password changed Successfully");
    window.location= ('{% url 'Logout' %}')
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert("Something went wrong, Try Again...");
</script>
{% endifequal %}
{% ifequal error "not" %}
<script>
    alert("Your Current password is wrong");
</script>
{% endifequal %}
{% endblock %}