{% load static %}
{% block body %}
{% include 'nav.html' %}
<script>
    function chpas()
    {
        if(document.signup.pwd.value!=document.signup.cpwd.value)
        {
            alert('Password are not matched');
            document.signup.cpwd.focus()
            return false;
        }
        return true;
    }
</script>
<p STYLE="text-align:center;font-size:25px;color:blue; background-color:black;margin-top:1%;font-weight:10">USER SIGNUP</p><hr>
<form class="container mt-5" onsubmit="return chpas()" name="signup" method="post" ENCTYPE="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>First name</label>
            <input type="text" class="form-control" name="fname" placeholder="Enter first name" required>
        </div>
        <div class="form-group col-md-6">
            <label>Last name</label>
            <input type="text" class="form-control" name="lname" placeholder="Enter last name" required>
        </div>
    </div>
     <div class="form-row">
        <div class="form-group col-md-12">
            <label>Contact</label>
            <input type="text" class="form-control" name="contact" placeholder="Enter contact number" required>
        </div>
          </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label>Email id</label>
            <input type="email" class="form-control" name="email" placeholder="Enter Email Address" required>
        </div>
    </div>

          <div class="form-row">
        <div class="form-group col-md-6">
            <label>Password</label>
            <input type="password" class="form-control" name="pwd" placeholder="Enter Password" required>
        </div>
        <div class="form-group col-md-6">
            <label>Confirm Password</label>
            <input type="password" class="form-control" name="cpwd" placeholder="Reenter password" required>
        </div>
    </div>
     <div class="form-row">
        <div class="form-group col-md-6">
            <label>Gender</label>
            <div style="border: 1px solid lightgrey; padding:5px; border-radius:6px">
            <div class="custom-control custom-radio custom-control-inline">
               <input type="radio" id="CustomRadioInline1" name="gender" class="custom-control-input" value="Male" required>
                <label class="custom-control-label" for="CustomRadioInline1">male</label>
            </div>
              <div class="custom-control custom-radio custom-control-inline">
               <input type="radio" id="CustomRadioInline2" name="gender" class="custom-control-input" value="Female" required>
                <label class="custom-control-label" for="CustomRadioInline2">female</label>
                  </div>
            </div>
        </div>
         <div>
        <div class="form-group col-md-6">

                <label>Image</label>
            <input type="file"  name="img"  required>
            </div>
        </div>
    </div>
<div>
    <input type="Submit" class="btn btn-secondary" style="width:200px">
</div>
</form>


{% ifequal error "no" %}
<script>
    alert("Signup Successful");
    window.location = ('{% url 'user_login' %}')
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert("Something went wrong, Try Again...");
</script>
{% endifequal %}

{% endblock %}