{% load static %}
{% block body %}
{% include 'user_navigation.html' %}

<p STYLE="text-align:center;font-size:25px;color:blue; background-color:black;margin-top:1%;font-weight:10">PROFILE</p><hr>
<div class="container">
    <div class="row">
        <div class="col-sm-8">

<form class="mt-5"  name="signup" method="post" ENCTYPE="multipart/form-data">
    {% csrf_token %}
    
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>First name</label>
            <input type="text" class="form-control" name="fname" value={{student.user.first_name}} required>
        </div>
        <div class="form-group col-md-6">
            <label>Last name</label>
            <input type="text" class="form-control" name="lname" value={{student.user.last_name}} required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label>Contact</label>
            <input type="text" class="form-control" name="contact" value={{student.mobile}} required>
        </div>

    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label>Email id</label>
            <input type="email" class="form-control" name="email" value={{student.user.username}} readonly required>
        </div>
    </div>
     <div class="form-row">
        <div class="form-group col-md-5">
            <label>Gender</label>
            {% if student.gender == "Male" %}
            <div style="border: 1px solid lightgrey; padding:5px; border-radius:6px">
            <div class="custom-control custom-radio custom-control-inline">
               <input type="radio" id="CustomRadioInline1" name="gender" class="custom-control-input" value="Male" checked>
                <label class="custom-control-label" for="CustomRadioInline1">Male</label>
            </div>
              <div class="custom-control custom-radio custom-control-inline">
               <input type="radio" id="CustomRadioInline2" name="gender" class="custom-control-input" value="Female">
                <label class="custom-control-label" for="CustomRadioInline2">Female</label>
                  </div>
            </div>
            {% else %}
            <div style="border: 1px solid lightgrey; padding:5px; border-radius:6px">
                <div class="custom-control custom-radio custom-control-inline">
                   <input type="radio" id="CustomRadioInline1" name="gender" class="custom-control-input" value="Male">
                    <label class="custom-control-label" for="CustomRadioInline1">Male</label>
                </div>
                  <div class="custom-control custom-radio custom-control-inline">
                   <input type="radio" id="CustomRadioInline2" name="gender" class="custom-control-input" value="Female" checked>
                    <label class="custom-control-label" for="CustomRadioInline2">Female</label>
                      </div>
                </div>
            {%endif%}
        </div>
         <div>
        <div class="form-group col-md-6">

                <label>Image</label>
            <input type="file" class="form-control"  name="img" accept="image/*">
            </div>
        </div>
    </div>
<div>
    <input type="Submit" class="btn btn-secondary" style="width:200px">
</div>
</form>
        </div>
        <div class="col-sm-4 mt-5 text-center">
            <img src="{{student.image.url}}" width="300px" height="300px">

        </div>
    </div>
</div>

{% include 'footer.html' %}

{% ifequal error "no" %}
<script>
    alert("Profile updated Successfully");
    window.location = ('{% url 'user_home' %}')
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert("Something went wrong, Try Again...");
</script>
{% endifequal %}


{% endblock %}